# Tuples

tuple are similar to list
tuple onces creted cannot be changed, thus it its is immutable 

charactratics:
1) ordered matters
2) unchanged
3) allows duplicates

In [4]:
#create a tuple
a = (w,b,c,d)
print(a)

NameError: name 'w' is not defined

In [2]:
t1 = ()
print(t1)

()

In [8]:
t2 = ('hello')
print(t2)
print(type(t2))# single item tuple is string

hello
<class 'str'>

In [13]:
t3 =(1,2,3,4)
print(t3)

#heterogenous tuple
t4 = (1,2.5,True,[1,2,3])
print(t4)


# tuple in tuple

t5 = (1,2,3,(1,3))
print(t5)

t6 =tuple('hello')
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (1, 3))
('h', 'e', 'l', 'l', 'o')

In [19]:
#accessing items

t3
print(t3[0])
print(t3[-4:-1])

1
(1, 2, 3)

In [21]:
print(t3[1:3])
print(t3[::-1])

(2, 3)
(4, 3, 2, 1)

In [22]:
t5 # 2d tuple

(1, 2, 3, (1, 3))

In [24]:
t5[-1][0]

1

In [26]:
# edit items
print(t3)
t3[0]=100 # strings and tuple are not edited

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#adding items

# dose not allowed editing and add or subrtact

In [29]:
# deletion 
print(t3)
del t3 #only delet whole tuple not any portion or something else in it
print(t3)

NameError: name 't3' is not defined

In [31]:
print(t5)
del t5[-1]

(1, 2, 3, (1, 3))

TypeError: 'tuple' object doesn't support item deletion

In [38]:
t =(1,2,3,4,5)
print(t[-1:-4:-1])

(5, 4, 3)

In [39]:
# operation and function on tuple

t1 = (1,2,3,4,5)
t2 =(5,4,9,8,7)
t1+t2

(1, 2, 3, 4, 5, 5, 4, 9, 8, 7)

In [40]:
print(t1 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [41]:
1 in t1

True

In [42]:
0 in t1

False

In [44]:
for i in t1:
    print(i)

1
2
3
4
5

In [45]:
# functions in tuple

len(t1)

5

In [51]:
# sum
sum(t1)

# min
print(t1)
#max
print(max(t1))

# sorted

sorted(t1,reverse=True)

(1, 2, 3, 4, 5)
5

[5, 4, 3, 2, 1]

In [55]:
# count
t = (1,2,3,4,5,5555,55,5,5,5)
print(t.count(5))


# index
t.index(4)

4

3

 lists and tuple

syntax
mutablity
speed tuples are faster than list
memory
built in function
error prone
usability

In [57]:
import time


L = list(range(1000000))
S= tuple(range(1000000))

start = time.time()
for i in L:
        i*5
print("list time",time.time()-start)


start = time.time()
for i in S:
    i*5
print('tuple time',time.time()-start)

list time 0.09375333786010742
tuple time 0.0949251651763916

In [58]:
import sys
L= list(range(1000))
T = tuple(range(1000))
print('list size', sys.getsizeof(L))
print('tuple size',sys.getsizeof(T))

list size 8056
tuple size 8040

In [61]:
a=[1,2,3,4,5]
b=a

a.append(4)
print(a)
print(b) # lists are dangourous because their will changes in b but i am not giving any order to it

[1, 2, 3, 4, 5, 4]
[1, 2, 3, 4, 5, 4]

In [64]:
t=(1,23,4,6,4,8)
c=t
t = t + (4,)
print(t)
print(c)

(1, 23, 4, 6, 4, 8, 4)
(1, 23, 4, 6, 4, 8)

In [ ]:
#usability

In [66]:
# tuple unpacking

a,b,c = (1,2,3)

print(a,b,c)

1 2 3

In [68]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [69]:
a = 1
b= 2
a,b = b,a
print(a,b)

2 1

In [71]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)# store in list

1 2
[3, 4]

In [74]:
# zipping tuole
a = (1,2,3,4,5)
b =(6,7,8,9,0)

print(zip(a,b))
tuple(zip(a,b))

<zip object at 0x0000027731FEECC0>

((1, 6), (2, 7), (3, 8), (4, 9), (5, 0))

SETS


set is unordered collectin of items. every set element is unique (no duplicates) and must be immutablr (cannot be changed).
union , intersection, symmertric differnce

Charactristics
!) unordered
@) mutable
$) set cannot have dulipcate
%) can't contain mutable data types #set dose not contains set iteself

In [76]:
# empty
s ={}
print(s)
print(type(s)) #

{}
<class 'dict'>

In [78]:
s =  set()
print(s)
print(type(s))

set()
<class 'set'>

In [80]:
s1 ={1,2,3,4}
print(s1)


s2= {1,2,3,{4,5}}
print(s2)

{1, 2, 3, 4}

TypeError: unhashable type: 'set'

In [84]:
s3 ={1,'hello',4.5,True,(1,2,3)} # cannot have duplicates
print(s3)


s4 = set([1,2,3,1])
print(s4)


s6 = {1,2,[3,4]}
print(s6)# cannot add mutable things

{'hello', 1, (1, 2, 3), 4.5}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [85]:
s1={1,2,3}
s2={3,2,1}

print(s1 == s2)

True

In [86]:
# accessing items /slicing dose not happen in set

s1 ={1,2,3,4}
s[1]

TypeError: 'set' object is not subscriptable

In [87]:
# edit items

s1={1,2,3,4}
s1[1]=100

TypeError: 'set' object does not support item assignment

In [94]:
# add items
s1={1,2,3,4}
s1.add(5)
print(s1)

#s1.add(6,5)


s1.update([5,6,7,7])# add multiple items
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [93]:
# deleting items

s ={1,2,3,4}
print(s)
del s
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

In [102]:
# discard

s1.discard(5)
print(s1)
s1.discard(9)
print(s1)



# remove
s1.remove(2)
print(s1)

{2, 3, 4, 6, 7}
{2, 3, 4, 6, 7}
{3, 4, 6, 7}

In [103]:
s1.pop()

3

In [105]:
s1.clear()
print(s1)

set()

In [106]:
## set oprarions

s1 = {1,2,3,4}
s2={4,5,6,7}

#unioun

s1|s2

{1, 2, 3, 4, 5, 6, 7}

In [107]:
s1 & s2

{4}

In [108]:
s1 -s2 #  s1 items that not present in s2

{1, 2, 3}

In [109]:
s1 ^ s2 # remove common .... symmertric test

{1, 2, 3, 5, 6, 7}

In [110]:
1 in s1

True

In [112]:
5 in s1|s2

True

In [117]:
#len sum min max sorted
s ={1,5,9,7,6,3,4,8,2,4}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

9
45
1
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [118]:
s1.union(s2) # === s1|s2

{1, 2, 3, 4, 5, 6, 7}

In [119]:
#union update
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{4, 5, 6, 7}

In [122]:
s1 = {1,2,3,4,5}
s2={4,5,6,7,8}
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [123]:
s1.difference_update(s2)
print(s1)
print(s2)

set()
{4, 5, 6, 7, 8}

In [125]:
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)

print(s1)
print(s2)

{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [126]:
s1 ={1,2,3,4}
s2={7,8,5,6}
s1.isdisjoint(s2)

True

In [127]:
s1 ={1,2,3,4,5}
s2 = {3,4,5}
s2.issubset(s2)

True

In [128]:
s1 ={1,2,3,4,5}
s2 = {3,4,5}
s1.issuperset(s2)

True

In [129]:

s1 ={1,2,3,4,5}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [131]:
# forzon set immutable version of python set

fs= frozenset([1,2,3])
fs

frozenset

In [133]:
# what works and what dose not ---- union intersertion differtiation symmertric differntion are working on it
#add,update,pop, remove dose not work on it
#immutable version of set
# app when only read only values you need
# 2-d frozen set are possible 
fs=frozenset([1,2,3,frozenset([36,5])])
print(fs)

frozenset({1, 2, 3, frozenset({36, 5})})

In [138]:
# set comprehension

{i for i in range(1,11) if i<5}

{1, 2, 3, 4}

# Dicitonary

collection of keys and values, used to store data values like a map, which unlike other data types which holds only single value as an elments
map or assosiative array

dict={'name'='ajay','age'=123}

charactristics

1) mutable --- we perform function like add delet remove
2) index has no meaning
3) keys cannot be duplicated
4) keys can't be mutable items

In [145]:
# create a dictionary

d = {}
print(d)

# one d dictionry
d1= {'name':'ajay','gender':'male'}
print(d1)
# mixed type keys
d2 = {(1,2,3):1, 'heelo':'woedl'}
print(d2)
# 2D dictionary
s={
    'name' : 'ajay',
    'college':'bit',
    'sem':4,
    'subjects':{
        'dsa':98,
        'math':98,
        'english':98
        
    }
}
print(s)


# using dict funciton

d4 =dict([(1,1),('name','ajay'),('age',32)])
print(d4)



# cannot have duplicate keu]y


d5={'name':'ajay','name':'vijay'}
print(d5)

{}
{'name': 'ajay', 'gender': 'male'}
{(1, 2, 3): 1, 'heelo': 'woedl'}
{'name': 'ajay', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 98, 'math': 98, 'english': 98}}
{1: 1, 'name': 'ajay', 'age': 32}
{'name': 'vijay'}

In [146]:
# mutable items as key
d6= {'name':'nitish',[1,2,3]:2}
print(d6)

TypeError: unhashable type: 'list'

In [148]:
# accesss item in dictionry

my_dict = {'name':'jack','age':56}
my_dict['age']
my_dict['name']

'jack'

In [149]:
my_dict.get('age')

56

In [152]:
# adding new key value pair
d4 ['gender']='Male'
print(d4)
d4['weight']='78'
print(d4)

{1: 1, 'name': 'ajay', 'age': 32, 'gender': 'Male'}
{1: 1, 'name': 'ajay', 'age': 32, 'gender': 'Male', 'weight': '78'}

In [159]:
# remove key value pairs'


d ={1: 1, 'name': 'ajay', 'age': 32, 'gender': 'Male', 'weight': '78'}
print(d)
d.pop('name')
print(d)
d.popitem()# last key value pair is deleted
print(d)
del d['age']
print(d)
d.clear()# empty dictionary
print(d)

{1: 1, 'name': 'ajay', 'age': 32, 'gender': 'Male', 'weight': '78'}
{1: 1, 'age': 32, 'gender': 'Male', 'weight': '78'}
{1: 1, 'age': 32, 'gender': 'Male'}
{1: 1, 'gender': 'Male'}
{}

In [165]:
s ={'name':'age','subjuct':{'mathes':50,'english':22}}
print(s)
s['subjuct']['mathes']
s['sem'] =4
s['subjuct']['ds'] = 999
s

{'name': 'age', 'subjuct': {'mathes': 50, 'english': 22}}

{'name': 'age', 'subjuct': {'mathes': 50, 'english': 22, 'ds': 999}, 'sem': 4}

In [166]:
del s['subjuct']['mathes']
s

{'name': 'age', 'subjuct': {'english': 22, 'ds': 999}, 'sem': 4}

In [168]:
# editing key value pair
s['sem']= 5
s
s['subjuct']['english'] =98
s

{'name': 'age', 'subjuct': {'english': 98, 'ds': 999}, 'sem': 5}

In [171]:
# Dictonary operation

print(s)
'age' in s

'name' in s # work on keys only

{'name': 'age', 'subjuct': {'english': 98, 'ds': 999}, 'sem': 5}

True

In [172]:
d ={'name':'ajay','gender':'male','age':33}
for i in d:
    print(i)

name
gender
age

In [173]:
for i in d:
    print(i, d[i])

name ajay
gender male
age 33

In [174]:
# len/sorted

len(d)

3

In [175]:
sorted(d)

['age', 'gender', 'name']

In [176]:
min(d)

'age'

In [177]:
max(d)

'name'

In [181]:
###items/keys/values

print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'ajay', 'gender': 'male', 'age': 33}
dict_items([('name', 'ajay'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['ajay', 'male', 33])

In [183]:
#update

d1 = {1:2,3:4,5:6}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 5: 6, 4: 7, 6: 8}

In [184]:
### Dictiontory comprehension

#print 1 st 10 numbers and their squares

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [185]:
#using zip
distances ={'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.65 for (key,value) in distances.items()}

{'delhi': 650.0, 'mumbai': 1300.0, 'banglore': 1950.0}

In [191]:
# using zip
day ={'sun','mon','tue','wed','thr','fri','sat'}
temp = {30.5,65,532.1,57.5,8.1,9.2,4.2}

{i:j for(i,j) in zip(day,temp)}

{'sun': 65,
 'tue': 4.2,
 'sat': 532.1,
 'wed': 8.1,
 'fri': 9.2,
 'mon': 30.5,
 'thr': 57.5}

In [193]:
# using if condition'

products ={'phone':10,'laptotp':0,'charger':32,'tablet':0}
{i:j for (i,j) in products.items() if j>0}

{'phone': 10, 'charger': 32}

In [ ]:
## nested comprehension
# print tables of number form 2 to 4

{
    2:{1:}
    
}

In [196]:
{i:{j:i*j for j in range(2,11)} for i in range(2,5)}

{2: {2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}