In [ ]:
# sequence of sum 1\1! + 2\2! + 3\3!+ .......

In [4]:
n=int(input('enter n '))
result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + i/ fact
print(result)

enter n 3
2.5

## Nested loops

In [5]:
for i in range(1, 5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
'''*
**
***
****'''

In [14]:
rows=int(input('enter no of rows:'))
for i in range (1,rows+1):
    for j in range (1, i+1):
        print('*', end = '')
    print()

enter no of rows:10
*
**
***
****
*****
******
*******
********
*********
**********

1
121
12321
1234321

In [22]:
#
rows=int(input('enter no of rows:'))
for i in range (1,rows+1):
    for j in range(1, i+1):
        print(j , end = '')
    for k in range(i-1,0,-1):
        print(k, end ='')
    print()

enter no of rows:5
1
121
12321
1234321
123454321

In [19]:
for i in range(1,1):
    print(i)
print()

# loops control statement

In [24]:
#Break
for i in range(1,10):
    if i == 5:
        break
    print(i)##database searching or searching,

1
2
3
4

In [25]:
lower = int (input('enter lower range'))
upper = int(input('enter upper range'))

for i in range (lower, upper +1):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i)

enter lower range10
enter upper range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [26]:
# continue

for i in range(1,10):
    if i == 5:
        continue
    print(i)## current exucation is not taken e.g. showing stock value any product for showing user

1
2
3
4
6
7
8
9

In [27]:
# pass statament
for i in range(1,10):
    pass

# Strings

#### strings are sequnce of charactor 
#### -In python specifically, strings are a sequence of unicode charactors(2**16 store values)
#### -creating strings
#### -Accessing strings
#### -Adding chars to strings
#### -Editing strings
#### -Delecting strings
##### -String Functions
#read howto

In [30]:
# create stings
s = 'hello'
s=  "hello"
#multiline stings
s=  '''hello'''
s ="""hello"""
s = str('hello')

In [28]:
# why use single and double stings
'its' raining outside'

SyntaxError: unterminated string literal (detected at line 1) (1743659216.py, line 1)

In [29]:
"its's raining outside"

"its's raining outside"

In [34]:
# indexing
s = 'hello world'
# postive indexing
print(s[1])

e

In [36]:
#negative indexing
s ='hello world'
print(s[-3])

r

In [38]:
# slicing
s = 'hello world'
print(s[1:5:1])

ello

In [47]:
print(s[2:3])
print(s[2:])
print(s[:3])
print(s[:])
print(s[:-1])
print(s[0:6:2])
print(s[-5:-1])
print(s[::-1])
print(s[6:0:-2])

l
llo world
hel
hello world
hello worl
hlo
worl
dlrow olleh
wol

In [50]:
#negative indexig
s = 'hello world'
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

In [51]:
# editing and deleting string
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

# python string are not immutable

In [52]:
s ='hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

In [54]:
# operation on stings
# arithmatic operation
# + concatination
print('delhi' + ' '+'Mumbai')

delhi Mumbai

In [56]:
# multiplication
print('delhi'* 50)
print('*'*50)

delhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhidelhi
**************************************************

In [57]:
# relational operators
'delhi' != 'delhi'

False

In [59]:
'mumbai' == 'delhi'

False

In [60]:
'mumbai'> 'delhi'
# lexiographically compare word which come first on dictionary

True

In [61]:
'pune' > 'small pune'

False

In [62]:
'Pune'> 'pune'

False

In [1]:
# logical opeartors

'hello' and 'world'

'world'

In [2]:
'hello' or 'world'

'hello'

In [3]:
'' and 'world'

''

In [5]:
'' or 'world'

'world'

In [6]:
not ''

True

In [7]:
not 'hello'

False

In [9]:
# loops on stings
s = 'hello world'
for i in s:
    print(i*3)

hhh
eee
lll
lll
ooo

www
ooo
rrr
lll
ddd

In [10]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [11]:
#memership oprators
'D' in 'Dehlhi'

True

In [12]:
'd' in 'Dehli' # case sensetive

False

## string functions

In [14]:
## common functions
## len , max, min, sorted
s = 'hello word'
len(s)
len('ajay is good')

12

In [17]:
# max depends upon ascii value
print(max(s))
print(min(s))

w

In [18]:
sorted(s)# sorted based on ascii value

[' ', 'd', 'e', 'h', 'l', 'l', 'o', 'o', 'r', 'w']

In [19]:

sorted('ajay is good boy')

[' ',
 ' ',
 ' ',
 'a',
 'a',
 'b',
 'd',
 'g',
 'i',
 'j',
 'o',
 'o',
 'o',
 's',
 'y',
 'y']

In [20]:
# capitalize\ title\ upper\lower\ swapcase

s = 'hello world'
s.capitalize()# capitalize only first latter of sentence

'Hello world'

In [21]:

s = 'hello world'
s.title()# captial only first letter every word

'Hello World'

In [22]:
s.upper()

'HELLO WORLD'

In [23]:
s.lower()

'hello world'

In [24]:
'HeLlo WorLd'.swapcase()

'hElLO wORlD'

In [29]:
## count, find , index

'my name is ajay'.count('a')
' the great is only thing'.count('g')

2

In [31]:
'my name is ajay'.find('is')

'my name is ajay'.find('ram')

-1

In [33]:
'my name is vijay'.index('i')
'my name is vijay'.index('z')

ValueError: substring not found

In [35]:
# endwihth , statswith

'my name is ajay'.endswith('my')

False

In [36]:
'my name is ajay'.endswith('y')

True

In [37]:
# format
name = 'ajay'
gender = 'male'
'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is ajay and I am a male'

In [38]:
#isalnum \ isalpha \ isdigit \ isidentifier

'nitis134'.isalnum()

True

In [39]:
'nitis134%'.isalnum()

False

In [40]:
'123'.isdigit()

True

In [41]:
'123abs'.isdigit()

False

In [42]:
'name'.isidentifier()

True

In [43]:
'name-ajay'.isidentifier()

False

In [45]:
#split/ join

'hi my name is ajay'.split('i')# convert to list by spliting by comma and give to world

['h', ' my name ', 's ajay']

In [46]:

" ".join(['h', ' my name ', 's ajay'])

'h  my name  s ajay'

In [47]:
" -".join(['h', ' my name ', 's ajay'])

'h - my name  -s ajay'

In [48]:
# replace
'hi my name is ajay'.replace('ajay','Billionor')

'hi my name is Billionor'

In [49]:
'hi my name is ajay'.replace('a','Billionor')

'hi my nBillionorme is BillionorjBillionory'

In [51]:
# strip
'nitish                         '.strip()

'nitish'

In [52]:
' ajay pra nagar  '.strip()# only last spaces are removed

'ajay pra nagar'